.landing-header {
  width: 100%;
  height: 70vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center center;
}

.slogan {
  color: white;
}
