.browse-bars {
  display: flex;
  flex-direction: row;
  margin: 1rem;
  justify-content: space-between;
}

.card-container {
  display: grid;
  gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin: 1rem;
}
