.navbar {
  display: flex;
  align-items: center;
  padding: 10px 1rem;
  justify-content: space-between;
  top: 0;
  position: sticky;
}

.logo {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
}

.navbar-ul {
  list-style: none;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

#signin {
  color: rgb(100, 161, 245);
}
