.filter-bar {
  width: 100%;
  max-width: 400px;
  padding: 12px 20px;
  font-size: 16px;
  border: 1px solid;
  outline: none;
  background-color: white;
  border-radius: 6px;
  border-color: rgb(182, 181, 181);
  color: black;
}