.stats {
  padding: 1rem;
  border: 1px solid;
  border-radius: 8px;
  background-color: rgb(244, 243, 243);
  max-width: 300px;
  margin: 1rem;
}

.stats-impact-list {
  list-style: none;
  padding: 1rem;
  margin: 0;
}

.stats-impact-list li {
  margin-bottom: 1.5rem;
}
